/* variables */

:root {
    /* Colors */
    --branco: #f5f6fa;
    --beje: #ffedc3;
    --amarelo: #ffd16d;
    --azul: #2c2c54;
    --azul-escuro: #15152b;
    /* Sizes */
    --border-size: solid 1px;
    --border-radius: 0.75rem;
    --padding-bases: 0 4rem;
    --padding-cont: 0.5rem;
    --margin-tb: 2rem 0;
    --font-g: 2rem;
    --font-m: 1.5rem;
    --font-p: 1rem;
}


/* Generic base */

* {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Cardo", serif;
    color: var(--azul-escuro);
    transition-duration: 1s;
}

*:focus {
    outline: none;
}

body {
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--branco);
}


/* Header */

header {
    height: 120px;
    width: 100%;
    display: grid;
    grid-template-rows: 120px;
    grid-template-columns: 1fr 2fr 1fr;
}

header .logo a {
    height: 100%;
    display: flex;
}

header .search,
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .search .searcher {
    width: 350px;
    border-radius: 0.75rem 0 0 0.75rem;
    -webkit-border-radius: 0.75rem 0 0 0.75rem;
    -moz-border-radius: 0.75rem 0 0 0.75rem;
    -ms-border-radius: 0.75rem 0 0 0.75rem;
    -o-border-radius: 0.75rem 0 0 0.75rem;
}

header .search button {
    width: 40px;
    border-radius: 0 0.75rem 0.75rem 0;
    -webkit-border-radius: 0 0.75rem 0.75rem 0;
    -moz-border-radius: 0 0.75rem 0.75rem 0;
    -ms-border-radius: 0 0.75rem 0.75rem 0;
    -o-border-radius: 0 0.75rem 0.75rem 0;
}

header .search .searcher,
button {
    height: 40px;
    padding: 10px;
    background-color: transparent;
    background-color: #eeeeee;
}

header .search button img {
    height: 100%;
    width: 100%;
}

header .menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


/* main */

main {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: var(--margin-tb);
}

main .sec-title {
    width: 100%;
    margin: var(--margin-tb);
    font-size: var(--font-g);
    display: flex;
    align-items: center;
    justify-content: center;
}

main .sec-title p {
    width: fit-content;
}

main .sec-title p::before {
    content: "";
    position: absolute;
    border-bottom: var(--border-size);
    width: 0%;
    bottom: 0;
    transition-duration: 2s;
}

main section:hover>.sec-title p::before {
    width: 100%;
}


/* Slider */

main .swiper {
    width: 100%;
    height: 60vh;
}

main .swiper .swiper-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: var(--padding-bases);
    background-color: var(--azul-escuro);
}

main .swiper .swiper-slide .textslide {
    width: clamp(300px, 60%, 60%);
}

main .swiper .swiper-slide .frase-slider {
    font-size: var(--font-g);
    color: var(--branco);
}

main .swiper .swiper-slide .autor-slider {
    font-size: var(--font-m);
    color: var(--branco);
    margin-top: 0.5rem;
}

main .swiper .swiper-slide img {
    height: 90%;
}


/* pubs */

main .pubs {
    height: fit-content;
    width: 100%;
    padding: var(--padding-bases);
    margin: var(--margin-tb);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main .pubs .pub {
    height: 250px;
    width: 600px;
    margin: var(--margin-tb);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

main .pubs .pub:hover {
    box-shadow: 0 0 10px 1px var(--azul-escuro);
}

main .pubs .pub img {
    padding: var(--padding-cont);
}

main .pubs .pub .text-pub {
    height: 100%;
    padding: var(--padding-cont);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .pubs .pub .text-pub .title {
    font-size: var(--font-m);
    font-weight: bolder;
}


/* FAQ */


/* footer */

footer {
    min-height: 300px;
    width: 100%;
    padding: var(--padding-bases);
    background-color: var(--azul-escuro);
    display: flex;
    align-items: center;
}

footer * {
    color: var(--branco);
}

footer .container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

footer .container .itens {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 300px;
    max-width: 400px;
}

footer .container .itens .title-item {
    font-size: var(--font-m);
    margin: 0.5rem 0;
}

footer .container .itens .item {
    font-size: var(--font-p);
    font-weight: lighter;
    margin: 0.5rem 0;
}

footer .container .itens .item p::before,
a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    transition-duration: 0.5s;
}

footer .container .itens .item:hover>p::before,
.item:hover>a::before {
    border: solid 1px #eeeeee;
    width: 50%;
}


/* Vanderlei */


/* Tanaka */